body {
	font: 400 15px Lato, sans-serif;
	line-height: 1.8;
	color: #818181;
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
	color: #303030;
	font-weight: 600;
	margin-bottom: 30px;
}

h4 {
	font-size: 19px;
	line-height: 1.375em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 30px;
}

.jumbotron {
	background-color: none;
	color: #f4511e;
	font-family: Montserrat, sans-serif;
}

.bg-image {
	background-image: url("../public/../photos/books.jpg");
	padding: 150px 25px;
}

.navbar .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-hover .navbar-nav>li>a {
	color: #fff;
}

li.fontstyle {
	color: white;
}

ul.dropdown-lr {
	width: 300px;
}

.btn-danger {
	font-size: 14px;
}

.btn {
	background-color: #F4511E;
	color: white;
}

.logo-small {
	color: #f4511e;
	font-size: 50px;
}


.logo {
	color: #f4511e;
	font-size: 200px;
}

.bg-grey {
	background-color: #f6f6f6;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
}

.navbar {
	margin-bottom: 0;
	background-color: #f4511e; 
	z-index: 9999;
	border: 0;
	font-size: 12px;
	line-height: 1.42857143;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
}

.navbar .navbar-brand {
	color: #fff;
}

.panel {
	border: 1px solid #f4511e;
	border-radius: 0 !important;
	transition: box-shadow 0.5s;
}

.panel:hover {
	box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
	border: 1px solid #f4511e;
	background-color: #fff !important;
	color: #f4511e;
}



/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 500px;
}

/* Set gray background color and 100% height */
.sidenav {
	 padding: 30px;
       background-color: #f2dede;
      height: 100%;
}
.sidenav a{
		color: #756e6e;
	
	}

/* Set black background color, white text and some padding */
footer {
	background-color: #f4511e;
	color: white;
	padding:15px;
	
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 20px;
	}
	
	.row.content {
		height: auto;
	}
}

.img-circle {
    border-radius: 50%;
}



.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.pagination{
  margin:0; 
}
.pagination li a{
  width:34px;
  height:34px;
}