<html>
<head>

</head>
<?php include 'style&js_links.html'?>
<?php session_start();?>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">

				<a class="navbar-brand" href="../index.html">Home</a>
			</div>

		</div>
	</nav>
	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-2 sidenav">
			</div>
			<div class="col-sm-8 text-left">
				<form action="../controller/forgot_password.php" method="post"
					name="send">
					<div class="text-center" id="">

						<h3>Forgot Password</h3>
						<p>Link will be sent to your registered email address</p>
						<div class="form-group">
							<input type="email" class="" name="email"
								placeholder="Enter your Email" required> &nbsp; <input
								type="submit" class="btn primary" name="send" value="Send"
								required>

						</div>
					</div>
				</form>
				<br>
				<div class="text-center" style="color: #f4511e">
					<?php if(isset($_SESSION["message"]))
				{
				echo $_SESSION["message"];
				unset($_SESSION["message"]);
				}
			?>
				</div>
			</div>
			<div class="col-sm-2 sidenav">
				<?php?>
			</div>

		</div>

	</div>

	<?php include 'footer.html'?>


</body>
</html>