<?php include 'style&js_links.html'?>
<?php session_start(); 
?>
<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				
				<a class="navbar-brand" href="dashboard.html">Home</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">

				<ul class="nav navbar-nav navbar-left">
					<li><a href="#about">ABOUT</a></li>
					<li><a href="#services">SERVICES</a></li>
					<li><a href="contact_admin.html">CONTACT</a></li>
				</ul>
            
				<ul class="nav navbar-nav navbar-right">
				<li style="color:white"><a>Welcome <?php echo $_SESSION["username"]; ?></a></li>
				<li><a href="../controller/logout.php">LOGOUT</a></li>			
</ul>
</div>
</div>
</nav>