
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>welcome to dashboard</title>
<?php 'include style&js_links.html'?>
</head>
<body>


	<?php 
	session_start();
if(!$_SESSION ["username"]){
header("location: ../index.html");
}
?>
<?php
include 'header.html';
include '../controller/search.php'
	
?>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-2 sidenav">
				<?php include 'lside.html'; ?>
			</div>
			
			<div class="col-sm-5 text-center" style="color:#f4511e">
			<?php if(isset($_SESSION["message"]))
				{
				echo $_SESSION["message"];
				unset($_SESSION["message"]);
				}
			?>
			</div>
			<div class="col-sm-8">
			
			<?php  if(isset ( $row['usertype'] ) and $row['usertype'] == 'teacher') { ?>
				<h3 class="text-center">SEARCH STUDENTS</h3>
				<?php } else { ?>
				<h3 class="text-center">SEARCH TEACHERS</h3>
				<?php }?>
				<div class="text-center" style="color: #f4511e">
					<?php if(isset($_SESSION["message"]))
				{
				echo $_SESSION["message"];
				unset($_SESSION["message"]);
				}
			?>
				</div>

				<hr>
				<div class="col-sm-12 text-left">


					<form method="post" action="../controller/search.php"
						name="form"  enctype="multipart/form-data"
						class="form-horizontal">
						
				
	
						
			<?php while($row1=mysqli_fetch_array($search_users)){
$myString = $row1['teaching_experience'];
$exp = explode ( '-', $myString );
 ?>			
						
	  
	  <div id="contact" class="container-fluid bg-grey">
					<h2 class="text-center"><?php echo $row1['name'];?></h2>
					<div class="row">
						<div class="col-sm-5">
							<p>Qualification:
							<?php echo $row1['qualification'];?>
							</p>
							
							<p>Teaching Experience:
							<?php echo $exp[0];?> Years
							<?php echo $exp[1];?> Months
							</p>
							
							<p>Teaches:
							:
							<?php echo $row1['qualification'];?>
							</p>
							
							
							<p>
								<span class="glyphicon glyphicon-map-marker"></span><?php echo $row1['locality'];?> 
								<?php echo $row1['city'];?> <?php echo $row1['pincode'];?>
							</p>
							<p>
								<span class="glyphicon glyphicon-phone"></span> <?php echo $row1['mobile'];?>
							</p>
							<p>
								<span class="glyphicon glyphicon-envelope"></span><?php echo $row1['email'];?>
								
							</p>
						</div>
						<div class="col-sm-7 slideanim">
							<div class="row">
							<div class="col-sm-3 pull-right">
							<?php //$pics = mysqli_query ( $connection, "SELECT * FROM users where id='" . $row1['id'] . "'" );
								//echo $row1['id'];
							
                              //  echo mysqli_num_rows($pics);
                              // $pic=mysqli_fetch_array($pics);
														?>
							<image src="../public/photos/<?php echo $pic['profile_pic']?>"
								width="100" height="100" class="img-circle"></image>
							</div>
							
								
							</div>
							
							<br>
							<div class="row">
								<div class="col-sm-8 form-group">
									<button class="btn btn-default pull-right" type="submit">Send Email</button>
								</div>
							</div>
						</div>
					</div>
				</div>
	  
	  
	
	<input type="hidden" name="id" value="<?php echo $row1['id'];?>">
						
	<?php } ?>		
			</form>
			
			</div>
			</div>
			<div class="col-sm-2 sidenav">
				<?php include 'rside.html'?>
			</div>

		</div>

	</div>


	<?php include 'footer.html';
		
		?>
		


</body>
</html>