<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>welcome to dashboard</title>
<?php 'include style&js_links.html'?>
<Script>

</script>
</head>
<body>


	<?php 
	session_start();
if(!$_SESSION ["username"]){
header("location: ../index.html");
}
?>
<?php
include 'header.html';
include '../controller/search.php'
	
?>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-2 sidenav">
				<?php include 'lside.html'; ?>
			</div>
			
		
			<div class="col-sm-8">
			
			<?php  if(isset ( $_SESSION ["usertype"] ) and $_SESSION ["usertype"] == 'teacher') { ?>
				<h3 class="text-center">SEARCH STUDENTS</h3>
				<?php } else { ?>
				<h3 class="text-center">SEARCH TEACHERS</h3>
				<?php }?>
				
                        
				<div class="text-center" style="color: #f4511e">
					<?php if(isset($_SESSION["message"]))
				{
				echo $_SESSION["message"];
				unset($_SESSION["message"]);
				}
			?>
				</div>
              <br>
             
				
					<form 	name="form" class="form-horizontal" onsubmit="return checkEmpty()">
								
                        <div class="col-sm-12">
                            <div class="col-sm-3"></div>
                             <div class="input-group stylish-input-group col-sm-6">
                    <input type="text" class="form-control"  name="search-key" id="search-text" value="<?= isset($_GET ['search-key']) ? $_GET ['search-key'] : "" ?>" placeholder="Enter Subject/Class/Locality" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                   
                </div>
                        </div>
                    
                                 

		<br>
		<br>	
		 
               	
			            </form>
			            
			            <br>
			            <br>
			            
			            <?php 
			            
			            if($record_available){

 ?>
 
              
              
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Teaches</th>
                        <th>Class</th>
                        <th></th>
                    </tr> 
                  </thead>
                  <tbody>
                  
                  
                  <?php  
   while( $value = mysqli_fetch_array ( $search_users )) {       
                  ?>	
                          <tr>
                            <td> <?php echo $value['name'];?>  </td>
                            <td> <?php echo $value['locality'];?> 
								<?php echo $value['city'];?> <?php echo $value['pincode'];?> </td>
                            <td><?php echo $value['subject_name'];?></td>
                            <td><?php echo $value['class'];?></td>
                            <td><a href="#">View</a></td>
                          </tr>
						
	<?php   }  ?>	                        
        
                        </tbody>
                </table>
            
              
              <div class="panel-footer">
                <div class="row">
                  <div class="col col-xs-4">Page 1 of 5
                  </div>
                  <div class="col col-xs-8">
                    <ul class="pagination hidden-xs pull-right">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                    </ul>
                    <ul class="pagination visible-xs pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            
            
            <?php } ?>
           

			

			
			
			</div>
			<div class="col-sm-2 sidenav">
				<?php include 'rside.html'?>
			</div>

		</div>

	</div>


	<?php include 'footer.html';
		
		?>
		


</body>
</html>