<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update profile</title>

<script type="text/javascript">
	function getdistrict(val) {

		$.ajax({
			type : "GET",
			url : "../../controller/select_district.php",
			data : 'state_id=' + val,
			dataType : 'json',
			success : function(data) {
				var select = $('#district-list');
				var options = '';
				select.empty();

				for (var i = 0; i < data.length; i++) {

					options += "<option value='"+data[i].id+"'>" + data[i].name
							+ "</option>"
				}
				select.append(options);
			}

		});
	}
</script>



</head>
<body>

	<?php 
include 'header.html';
include '../controller/update_profile.php';
	
?>
	<?php if(!($_GET['id']==$_SESSION['id'])) { 
	header("location:../views/dashboard.html");
    }
	?>
	
	<?php  if(!$_SESSION ["username"]){ 
	header("location:../index.html");
    }
	?>
	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-2 sidenav">
				<?php include 'lside.html'; ?>
			</div>

			<?php
	$row=mysqli_fetch_array($users);
$myString = $row['teaching_experience'];
$exp = explode('-', $myString);
//print_r($exp); 
//print_r($exp['0']);
//print_r($exp['1']);
   ?>
			<div class="col-sm-8">
				<?php  if(isset ( $row['usertype'] ) and $row['usertype'] == 'teacher') { ?>
				<h3 class="text-center">Teacher Profile</h3>
				<?php } else { ?>
				<h3 class="text-center">Student profile</h3>
				<?php }?>
				<div class="text-center" style="color: #f4511e">
					<?php if(isset($_SESSION["message"]))
				{
				echo $_SESSION["message"];
				unset($_SESSION["message"]);
				}
			?>
				</div>

				<hr>
				<div class="col-sm-12 text-left">


					<form method="post" action="../controller/update_profile.php"
						name="form" onsubmit="validate" enctype="multipart/form-data"
						class="form-horizontal">




						<div class="form-group">
							<label class="col-sm-3" for="fname">Name:</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" name="name"
									value="<?php echo $row['name'];?>">
							</div>
						</div>




						<div class="form-group">
							<label class="col-sm-3" for="email">Email:</label>
							<div class="col-sm-3">
								<input type="email" class="form-control" name="email"
									value="<?php echo $row['email'];?>" required>
							</div>
						</div>


						<div class="form-group">
							<label class="col-sm-3" for="mobile">Mobile:</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" name="mobile"
									pattern='^\d{10}$' value="<?php echo $row['mobile'];?>"
									required>
							</div>
						</div>


						<div class="form-group">
							<label class="col-sm-3" for="dob">dob:</label>
							<div class="col-sm-3">
								<input type="date" class="form-control" name="dob"
									value="<?php echo $row['dob'];?>">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-1" for="address">Address</label>
						</div>

						<div class="form-group">
							<label class="col-sm-1" for="state">State</label>
							<div class="col-sm-3">

								<select name="state" onChange="getdistrict(this.value)"
									class="form-control">
									<?php 
while($state=mysqli_fetch_array($states)){ ?>
									<?php if($state['sname'] == $row['state']){ ?>
									<option class="form-control" value="<?php echo $state['id'];?>"
										selected="selected"><?php echo $row['state'];?>
									</option>
									<?php } else { ?>

									<option value="<?php echo $state['id'];?>" class="form-control"><?php echo $state['sname'];?>
									</option>
									<?php }
} ?>
								</select>

							</div>



							<label class="col-sm-1" for="district">District</label>
							<div class="col-sm-3">
								<select name="district" id="district-list" class="form-control">

									<?php while($district=mysqli_fetch_array($districts)){ ?>
									<?php if($district['dname'] == $row['district']){ ?>
									<option value="<?php echo $district['id'];?>"
										selected="selected" class="form-control"><?php echo $district['dname'];?>
									</option>
									<?php } } ?>
									<option value="">Select</option>
								</select>
							</div>


						</div>

						<div class="form-group">

							<label class="col-sm-1" for="city">City:</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" name="city"
									value="<?php echo $row['city'];?>">
							</div>
							<label class="col-sm-1" for="locality">Locality:</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" name="locality"
									value="<?php echo $row['locality'];?>">
							</div>

						</div>

						<div class="form-group">
							<label class="col-sm-1" for="pincode">Pincode:</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" name="pincode"
									value="<?php echo $row['pincode'];?>">
							</div>
						</div>

						<?php  if(isset ( $row['usertype'] ) and $row['usertype'] == 'teacher') { ?>
						<div class="form-group">
							<label class="col-sm-3" for="qualification">Qualification</label>
							<div class="col-sm-3">
								<select name="qualification" class="form-control">


									<option class="form-control" value="Post Graduate"<?php
										if($row['qualification']=='Post Graduate'){ echo 'selected' ;}
										?> >Post Graduate</option>
									<option class="form-control" value="Graduate"<?php
										if($row['qualification']=='Graduate') { echo 'selected'; } ?>
										>Graduate</option>
									<option class="form-control" value="Class 12"<?php
										if($row['qualification']=='Class 12') { echo 'selected'; } ?>
										>Class 12</option>


								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3" for="year-of-passing">Year of
								Passing</label>
							<div class="col-sm-3">
								<select id="year-of-passing" name="year-of-passing">
									<option class="form-control"
										value="<?php echo $row['yearofpassing'];?>"
										selected="selected"><?php echo $row['yearofpassing'];?>
									</option>
								</select>
							</div>


						</div>
						<?php } ?>
						<div class="form-group">
							<?php  if(isset ( $row['usertype'] ) and $row['usertype'] == 'teacher') { ?>
							<label class="col-sm-3" for="university">Univesity/Collage:</label>
							<?php } else {?>
							<label class="col-sm-3" for="university">Collage/School:</label>
							<?php } ?>
							<div class="col-sm-3">
								<input type="text" class="form-control" name="university"
									value="<?php echo $row['university'];?>">
							</div>
						</div>


						<div class="form-group">
							<?php  if(isset ( $row['usertype'] ) and $row['usertype'] == 'teacher') { ?>
							<label class="col-sm-3" for="subject">Subject To Teach:</label>
							<?php } else {?>
							<label class="col-sm-3" for="subject">Subject To Learn:</label>
							<?php } ?>
							<div class="col-sm-3">
								<select name="subject" class="form-control">
									<?php $row1 = mysqli_fetch_array($user_subjects);
									
while($subject=mysqli_fetch_array($subjects)){ ?>
									<?php if($subject['subject_name'] == $row1['subject_name']){ ?>
									<option class="form-control"
										value="<?php echo $subject['subject_name'];?>"
										selected="selected"><?php echo $row1['subject_name'];?>
									</option>
									<?php } else { ?>

									<option value="<?php echo $subject['subject_name'];?>"
										class="form-control"><?php echo $subject['subject_name'];?>
									</option>
									<?php }
} ?>
								</select>

							</div>
						</div>

						<div class="form-group">
							<?php  if(isset ( $row['usertype'] ) and $row['usertype'] == 'teacher') { ?>
							<label class="col-sm-3" for="class">Class To Teach:</label>
							<?php } else {?>
							<label class="col-sm-3" for="class">Class To Learn:</label>
							<?php } ?>
							<div class="col-sm-3">
								<select name="class" class="form-control">
									<?php 
while($class1=mysqli_fetch_array($class)){ ?>

									<?php if($class1['class']==$row['class']){ ?>
									<option class="form-control"
										value="<?php echo $row['class'];?>" selected="selected"><?php echo $row['class'];?>
									</option>
									<?php } else { ?>

									<option class="form-control"
										value="<?php echo $class1['class']?>"><?php echo $class1['class'];?>
									</option>
									<?php }  } ?>

								</select>

							</div>
						</div>

<?php  if(isset ( $row['usertype'] ) and $row['usertype'] == 'teacher') { ?>
						<div class="form-group">
							<label class="col-sm-3" for="">Teaching Experience:</label>
							<div class="col-sm-4">
								<select name="years">
									<option name="years">select</option>
									<?php 

							for($i=0; $i<=10; $i++)
								{
								   if($i==$exp['0'])
                                     {
									echo "<option value=".$exp['0']." selected>".$i."</option>";
                                    }
                                echo "<option value=".$i.">".$i."</option>";
								}
									?>
								</select> <label class="" for="">Years</label> 
								<select name="months">
									<option name="months">select</option>
									<?php 

							for($i=0; $i<=12; $i++)
								{  
                                      if($i==$exp['1'])
                                     {
									echo "<option value=".$exp['1']." selected>".$i."</option>";
                                    }
                                    
									echo "<option value=".$i.">".$i."</option>";
								}
									?>
								</select> <label class="" for="">Months</label>

							</div>
						</div>
<?php } ?>
						<div class="form-group">

							<?php 
  while($pic=mysqli_fetch_array($pics))
 {
  ?>

							<image src="../public/photos/<?php echo $pic['profile_pic']?>"
								width="100" height="100" class="img-circle"></image>
							<?php } ?>

							<label class="col-sm-3" for="img">Profile Image:</label> <input
								type="file" id="filename" name="file" accept="image/*"
								onchange="Checkfiles()">

						</div>


						<input type="hidden" name="id" value="<?php echo $row['id'];?>">


						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="submit" name="update" value="Update"
									class="btn btn-info" onclick="return alertbox();">
							</div>
						</div>



					</form>

				</div>
			</div>
			<div class="col-sm-2 sidenav">
				<?php include 'rside.html';?>
			</div>

		</div>

	</div>
	
	

	<?php include 'footer.html'; ?>


</body>
</html>